language: python
matrix:
  include:
    - python: "3.6"
      env: TOXENV=py36
    - python: "2.7"
      env: TOXENV=py27
    - python: "pypy"
      env: TOXENV=pypy

install: pip install tox
script: tox
cache: pip
